.card {
    background-color:white;
    color: black;
  }

.selected {
    background-color: lightgreen;
    color: black;
}

.selectable {
    background-color: white;
    color: black;
}

.unselectable {
    background-color: white;
    color: lightgray;
    border-color: lightgray;
}

.card-footer {
    background-color: transparent;
}